<!DOCTYPE html>
<html>
  <head>
    <title>Handy Invoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#"><h3>Handy Invoice</h3></a>
      <div class="collapse navbar-collapse" id="navbarColor01">    
        <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>

        <p class="navbar-text">
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </p>
        <% else %>
       <!--  <ul class="navbar-nav mr-auto"></ul>
        <p class="navbar-text">
          <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        </p> -->
        <% end %>
      </div>
    </nav>
    
    <% if notice %>
      <!-- <p class="alert alert-success"><%#= notice %></p> -->
    <% end %>
    <% if alert %>
     <!--  <p class="alert alert-danger"><%#= alert %></p> -->
    <% end %>
    
    <div class="jumbotron">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer>
      <!-- Copyright -->
      <div class="footer-copyrigh py-3 navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-brand">© 2019 Copyright:</div>
        <a href="https://www.handyinvoice.shayonait.com"> Handy Invoice - Quick Invoicing for Small Business</a>
      </div>
      <!-- Copyright -->
    </footer>

  </body>
</html>
